<h1> Create a new User: </h1>
    <% form_for @user do |f|%>
        <%=f.label :first_name%>
        <%= f.text_field :first_name %>
        <%=f.label :last_name%>
        <%= f.text_field :last_name%>
        <%=f.label :email%>
        <%= f.text_field :email%>
        <%=f.label :phone_number%>
        <%= f.text_field :phone_number%>
        <%=f.label :payment_info%>
        <%= f.text_field :payment_info%>
    <% end %>
