<h3> Hi <%= @user.username%>, here is your profile info we have on file: </h3> 

<ul> First Name: <%= @user.first_name %></ul>
<ul> Last Name: <%= @user.last_name %></ul>
<ul> Email: <%= @user.email %></ul>
<ul> Phone Number: <%= @user.phone_number %></ul>
<button><%= link_to "Update Profile",  edit_user_path(@user)%></button>
