<h1> Your Profile: </h1> 

<ul> First Name: <%= @user.first_name %></ul>
<ul> Last Name: <%= @user.last_name %></ul>
<ul> Email: <%= @user.email %></ul>
<ul> Phone Number: <%= @user.phone_number %></ul>
<button><%= link_to "Update Profile",  edit_user_path(@user)%></button>
