<h1> All Items: </h1>
<ul><% @items.each do |item|%>
    <li><%=item.name%></li>
    <li><%=item.price%></li>
    <li><%=item.description%></li>
    <li><%=item.quantity%></li>
    <img src=<%=item.img_url%> 
        class="w3-round"
        alt="This is a basic table."
         width="150"
        height="191">
    <%end%></br>
</ul>