<h1>Add Inventory:</h1>

<%= form_for @item do |f| %>
    <%= f.label :name %>
   <ul><%= f.text_field :name %></ul>
   <%= f.label :price %>
   <ul><%= f.text_field :price %></ul>
   <%= f.label :description %>
   <ul><%= f.text_area :description %></ul>
   <%= f.label :img_url %>
   <%= f.file_field :img_url %>
   <ul><%= f.submit %></ul>
    <%end%></li>