<h1> <%=@item.name%> </h1>
<img src=<%=@item.img_url%> 
    class="w3-round"
    alt="This is a basic table."
    width="300"
    height="341">
<ul>The Price is: $<%= @item.price %></ul>
<ul>The Description is: <%= @item.description %></ul>

<%= form_for @cart do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit "Add to Cart"%>
<% end %>