 <!doctype html>
   <html>
      <head>
         <meta charset="utf-8">
         <link rel="stylesheet" href="application.scss">
      </head>

         <body>
           
 
            <h2>Login</h2>
            
               <% if @error %>
                  <p style="color: red;"> <%= @error %> </p>
               <% end %>

               <%= form_for @user, url: {controller: "sessions", action: "create"} do |f| %>
               <%= f.label :username %>
               <%= f.text_field :username %>
               
               <%= f.label :password %>
               <%= f.password_field :password %>

               <%= f.submit "Login" %>

               <% end %>

            

         </body>
 </html>

