<h1> Write a Review:</h1>

<form><%=form_for @review do |f| %>
    <label><%= f.label :title %><label/>
    <label><%= f.text_field :title %><label/>
    <label><%= f.label :rating %><label/>
    <label><%= f.select :rating, [[1,1], [2,2], [3,3], [4,4], [5,5]] %><label/>
    <label><%= f.label :description %><label/>
    <label><%= f.text_area :description %><label/>
    <label><%=  f.collection_select :item_id, Item.all, :id, :name %><label/>
           <%=  f.hidden_field :user_id, value: @user.id %>
    <%= f.submit%><form><label/>
<%end%>