<!DOCTYPE html>
<html>
  <head>
    <title>EStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="<%= items_path %>">Camping GearUp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if @user && @user.id %>
          <a class="nav-item nav-link" href="<%= items_path %>">Gear</a>
          <a class="nav-item nav-link" href="<%= "/personalcart" %>">Cart</a>
          <a class="nav-item nav-link" href="<%= review_path(@user) %>">Reviews</a>
          <a class="nav-item nav-link" href="<%= user_path(@user) %>">Profile</a>
          <a class="nav-item nav-link" href="<%= login_path method: :delete %>">LogOut</a>
      <% else %>
          <a class="nav-item nav-link" href="<%= signup_path %>">SignUp</a>
          <a class="nav-item nav-link" href="<%= login_path %>">Login</a>
        <% end %>
     </nav>
    <%= yield %>
  </body>
</html>


